*{
	margin:0;
	padding:0;
}

body{
	font-family: tahoma, arial;
	font-size: 14px;
    background: #fbfbfd;
    width: 100%;
    height: auto;
	
}

/*----------------- Headder ---------------*/
.header{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    background-color: #d1d6e4;
    height: 80px;
    width: 100%;
}
/*-------------------- search -----------*/
.search{
    width:250px;
    height: 40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width:100%;
    height: 30px;
    border:none;
    outline: none;
    background-color: transparent;
}
.search i{
    color:#3a3a3a;
}
.logo img{
    height: 50px;
    padding: 0 30px;
}
.container_header{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}


/* -------------------Menu------------------------ */
.menu{
    display: flex;
    flex-direction: row;
    
}
.menu ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: left;
    padding-right: 50px;
}
.menu ul li{
    padding: 15px 15px;
}
.menu ul li a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.menu ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #949fb1;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
}


/*--------------- container main------------------------ */


.container{
 background-color: rgb(243, 241, 248);
    width: 1200px;
    margin: 20px auto;
    height: auto;
    margin-top: 1px;
}



/*----------------- slide show ----------*/
.slide {
    width:60%;
    height: 70%;
    box-shadow: 0 0 25px -3px rgba(0,0,0,0.4);
 
 }
 .slide img{
    width:1200px;
    height: 400px;
 }

/*-------------------- slide Latest Moviess -------------------*/
.container-case{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
}
#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
  }
  .latest-heading{
    margin: 30px 30px 0px 30px;
    text-transform: uppercase;
  }
  .latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
  }
  .latest-b-img{
    width:100%;
    height: 270px;
  }
  .latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .latest-b-text strong{
    color:#3a3a3a;
    margin: 0px;
  }
  .latest-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  .latest-b-text p{
    color:#979797;
    margin: 0px;
  }
  section ul {
      list-style: none;
  }
.latest-b-text button{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
 .latest-b-text button{

    background-color: rgb(1, 24, 9);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 4px;
    width: 150px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
}

button a{

    text-decoration: none;
    color: rgb(226, 215, 215);
    margin: 10px;
}
.latest-b-text button:hover{
    background: #3f9fdf;
   
}
.latest-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
  }
/*------------- container list movie ------------------------*/
.container-list{
    width: 100%;
    height: auto;
    margin-bottom: 0;
    background-color: rgb(243, 241, 248);
}
.text-h2{
    display: flex;
    justify-content: center;
}
.text-h2 h2{
    width: 100%;
    height: 20px;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;

}
.list-movie{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: auto;
}
.movies-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
  }
  .movies-img{
    width:100%;
    height: 270px;
  }
  .movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .movies-box  strong{
    color:#3a3a3a;
    margin: 0px;
  }
  .movies-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
  }
  .movies-box button{
    background-color: rgb(1, 24, 9);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 4px;
    width: 150px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
   
}
.movies-box button a{
    text-decoration: none;
    color: rgb(236, 229, 229);
   
}
.movies-box button:hover{
    background-color: #3f9fdf;
}

/*------------------------ footer-------------------------- */
ul{
	list-style: none;
}
.footer{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    background-color: #24262b;
    height: 300px;
    width: 100%; 
}
.container-footer{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}
.footer-col{
    width: 250px;
    float: left;
    text-align: left;
   
   
 }
 .footer-col h4{
     font-size: 18px;
     color: #ffffff;
     text-transform: capitalize;
     margin-bottom: 35px;
     font-weight: 500;
     position: relative;
 }
 .footer-col h4::before{
     content: '';
     position: absolute;
     left:0;
     bottom: -10px;
     background-color: #e91e63;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300;
     color: #bbbbbb;
     display: block;
     transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
     color: #ffffff;
     padding-left: 8px;
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255,255,255,0.2);
     margin:0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
     color: #24262b;
     background-color: #ffffff;
     
 
 /*responsive*/
 @media(max-width: 767px){
     .footer-col{
       width: 50%;
       margin-bottom: 30px;
   }
   }
   @media(max-width: 574px){
     .footer-col{
       width: 100%;
   }
 